@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

$font-family: 'Overpass', sans-serif;
body {
  margin: 0;
  font-family: $font-family;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
